* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calendar {
  width: 316px;
  padding-top: 0;
  /* border: 5px solid rgb(0, 191, 255); */
  height: 300px;
}

button {
  cursor: pointer;
}


.calendar-header {
  color: black;
  display: flex;
  justify-content: space-between;
  /* border-radius: 7px; */
  align-items: center;
  font-weight: 700;
  /* border: 1px solid black; */
  padding: 0;
  padding-bottom: 25px;
}

.calendar-week-days,
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-week-days div,
.calendar-days div {
  display: grid;
  place-items: center;
}


.calendar-week-days {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  /* border: 1px solid black; */
  padding-bottom: 25px;
}


.calendar-days div {
  width: 37px;
  height: 33px;
  cursor: pointer;
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 19.36px;
}

.calendar-days div.current-date {
  color: #f8fbff;
  background-color: #9796f0;
  border-radius: 20%;
}

.other-month-day {
  color: #B7B7B7;
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.month-year{
  font-size: 22px;
  font-weight: 500;
  line-height: 26.63px;
  padding-left: 1px;
}

.btn {
  cursor: pointer;
}


.month-picker-buttons {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  gap: 5px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 4px; /* Adjust the gap size as needed */
}

.calendar-days div {
  display: flex;
  justify-content: center; /* Center align the date within each cell */
  align-items: center;
  width: 100%; /* Ensure the div spans the full cell width */
  height: 33px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  line-height: 19.36px;
}

.calendar-body {
  margin-bottom: 25px;
}