<div class="wrapper">
    <div class="dashboard-content">
        <div class="enrolled-courses-menu">

            <p class="welcome-user">Welcome, Mr Esther Hovard</p>
            <p class="enrolled-courses">Currently Enrolled Courses</p>
            <app-enrolled-courses></app-enrolled-courses>
            <p class="class-leaderboard">Class Leaderboard</p>
        </div>
        <app-leaderboard></app-leaderboard>
    </div>
    <div class="profile-section">
        <app-profile-info></app-profile-info>
    </div>
</div>